.box {
    height: 300px;
    width: 300px;
}

.success {
    border: 2px solid green;
    background-color: lightgreen;
    color: darkgreen;
}

.error {
    border: 2px solid red;
    background-color: rgb(255, 30, 0);
    color: rgb(255, 81, 0);
}

.warning {
    border: 2px solid yellow;
    background-color: rgb(255, 145, 0);
    color: rgb(255, 115, 0);
}