<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Ejer6</title>
</head>

<body>
    <h1>Repos at Adalab in GitHub</h1>
    
  <main class="main__section">
    <div class="container">
      <form class="inputContainer" autocomplete="off">
        <input type="text" id="inputText" placeholder="Busca...">
        <button type="submit" class="btn">Busca</button>
      </form>
    </div>
    
    <div class="bookshelf_wrapper hide-box">
        <ul class="books_list">
          <li class="book_item first"></li>
          <li class="book_item second"></li>
          <li class="book_item third"></li>
          <li class="book_item fourth"></li>
          <li class="book_item fifth"></li>
          <li class="book_item sixth"></li>
        </ul>
        <div class="shelf"></div>
      </div>
      
    <ul class="list">
    </ul>
    <button class="icons centerMe"></button>
      <div class="deleted hide-box">
          <i class="fas fa-check " class="icon"></i><span class="textDeleted">Delete</span>
      </div>
      <div class="re reset">
      <i class="far fa-trash-alt"></i><span class="rese">RESET</span>
    </div>
  </main>
  <script type="text/javascript" src="../assets/js/main.js"></script>
</body>

</html>