<header class="page__header">
    <h1 class="main__title">El juego de las parejas</h1>
    <div>
    <form class="inputContainer" autocomplete="off">
        <label for="pair1">
          <input id="pair1" type="radio" value="4" name="pairs">
          4
        </label>
        <label for="pair2">
          <input id="pair2" type="radio" value="6" name="pairs">
          6
        </label>
        <label for="pair3">
          <input id="pair3" type="radio" value="8" name="pairs">
          8
        </label>
        <button class="btn">Comenzar</button>
    </form>
</div>
</header>
